*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

:root{

    --bg-color:#000000;
    --primary-text-color:#ffffff;
    --bg-btn-color:#1a1a1a;
    /* Padding Variables */
    --nav-padding:15px 20px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-md:10px;
    --padding-lg:15px;
    --padding-xl:20px;
    --padding-2xl:25px;

    /* Border-radius Variables */
    --border-radius-xs:2.5px;
    --border-radius-s:5px;
    --border-radius-md:10px;
    --border-radius-lg:15px;
    --border-radius-xl:20px;
    --border-radius-2xl:25px;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
 background-color: var(--bg-btn-color);
 color: var(--primary-text-color);
 border: none;
 outline: none;
 padding: var(--padding-md) var(--padding-lg);
 border-radius: var(--border-radius-s);
 cursor: pointer;
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content:space-between;
    background-color: var(--bg-btn-color);
    flex-grow: 1;
    gap: 80px;

}

.task_column{
    padding: var(--nav-padding);
    background-color:var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    flex-grow: 1;
    border-radius: var(--border-radius-2xl);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task{
    background-color: var(--bg-btn-color);
    padding: var(--border-radius-s);
    border-radius: var(--border-radius-s);
    gap: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: grab;
    

}

.btnDlt{
    background-color: rgb(201, 45, 45);
    padding: var(--border-radius-s);
    border: none;
    outline: none;
    width: fit-content;
    align-self: flex-end;
}

.hover-over{
    border: 2px dashed rgb(207, 207, 203);
    scale: 1.03;
    background-color: #111111;
}
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.active{
    display: flex;
} 
.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 34, 51, 0.541);
    backdrop-filter: blur(5px);
}

.modal .center{
    background-color: var(--bg-btn-color);
    padding: var(--padding-2xl);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-md);
    z-index: 10;
}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-s);
} 

.modal .center button{
    background-color: #123;
    width: fit-content;
}